.header {
	min-width: 100%;
	min-height: 100%;
	background: url(../images/bg/intro-bg.jpg);
	background-size: cover;
	position: relative;

	.top-bar {
		display: flex;
		justify-content: space-between;
		padding-top: 13px;
		font-family: "ubuntumedium", Arial, sans-serif;
		text-transform: uppercase;
		font-size: 0.750rem;

		&__nav {
			height: 100%;
			width: 100%;
			margin-bottom: 15px;
		}

		&__inner_menu {
			display: flex;

			.inner__menu_item a {
				color: #fff;
				text-align-last: left;
				padding: 5px;
				line-height: 2em;
				margin-left: 10px;
			}

			.inner__menu_item a:hover {
				color: #e77252;
			}

			.inner__menu_item a::before {
				content: "•";
				margin-right: 15px;
			}

			.inner__menu_item:first-child a::before {
				display: none;
			}
		}
	}
}

.header-main {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__title {
		margin-right: auto;
		margin-top: 43px;
		margin-left: 12px;

		&_first {
			font-family: "gagalinregular", Arial, sans-serif;
			font-size: 4.5rem;
			color: #f9b43b;
			text-transform: uppercase;
			line-height: 1.59em;
		}

		&_second {
			font-family: "lifehackmedium", Arial, sans-serif;
			font-size: 3.875rem;
			color: #fff;
			text-transform: inherit;
			line-height: 1em;
		}
	}
}

.arrow-down {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-bottom: 40px;
}