* {
	box-sizing: border-box;
}

html {
	font-size: 16px;

	@include tablets {
		font-size: 13px;
	}

	@include phone {
		font-size: 12px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: normal;
	margin: 0;
	padding: 0;
}

ul {
	padding: 0;
	margin: 0;

	li {
		list-style: none;
	}
}

img {
	width: 100%;
}

footer {
	position: relative;
	width: 100%;
}

.section {
	min-height: 650px;
	height: 100vh;
}

.section-title {
	font-size: 4.5rem;
	font-family: 'gagalinregular', Arial, sans-serif;
	color: #2f3234;
	line-height: 0.9;

	&_yellow {
		color: #f9b43b;
		margin-bottom: 20px;
	}

	&_white {
		color: #ffffff;
	}

	&_center {
		text-align: center;
	}

	@include phone {
		font-size: 4rem;
	}
}

a {
	display: block;
	text-decoration: none;
	color: #fff;
}

.wrapper {
	position: relative;
	min-height: 100%;
	overflow: hidden;
}

.container {
	margin: 0 auto;
	position: relative;
	width: 95%;
	height: 100%;
	max-width: 940px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	@include tablets {
		width: 95%;
	}
}

.btn {
	padding: 11px 19px;
	border-radius: 5px;
	align-self: center;
	font-family: "ubuntumedium", Arial, sans-serif;
	text-transform: uppercase;
	font-size: 0.8rem;

	@include phone {
		font-size: 0.8125rem;
	}

	&--order {
		background: #e45028;
		border: none;
		outline: none;
		color: #fff;
		cursor: pointer;

		&:hover {
			background: #c1401e;
		}
	}

	&--reviews {
		background: #2f3234;
		align-self: flex-start;

		&:hover {
			background: #282a2b;
		}

		@include tablets {
			align-self: center;
		}

		@include phone {
			display: none;
		}

		&-phones {
			display: none;

			@include phone {
				display: block;
				margin-top: 20px;
			}
		}
	}

	&--clean {
		text-transform: capitalize;
		font-size: 0.875rem;
		background: none;
		border: none;
		outline: none;
		cursor: pointer;
		color: #fff;
	}
}

.pagination {
	position: fixed;
	top: 80px;
	right: 60px;

	@include tablets {
		display: none;
	}

	@include phone {
		display: none;
	}

	&__list {
		display: flex;
		flex-direction: column;
	}

	&__link {
		width: 6px;
		height: 6px;
		background: #fff;
		border-radius: 50%;
		margin-bottom: 15px;
	}
}

.is-activ::before {
	content: "";
	position: absolute;
	margin-top: -6px;
	margin-left: -6px;
	width: 16px;
	height: 16px;
	border: 1px solid #fff;
	border-radius: 50%;
}


.nav-trigger {
	display: none;
	position: fixed;
	top: 29px;
	right: 28px;
	z-index: 999;

	@include tablets {
		display: block;
		top: 3.5%;
		right: 4%;
	}

	@include phone {
		top: 4%;
	}


	&__link {
		display: block;
		width: 25Px;
		height: 25Px;
	}

	&__badge {

		&,
		&::before,
		&::after {
			display: block;
			height: 4px;
			width: 25Px;
			border-radius: 4px;
			background-color: #fff;
		}

		&::after,
		&::before {
			content: '';
			position: absolute;
		}

		&::before {
			top: 9Px;
		}

		&::after {
			top: 18Px;
		}
	}

	&.is-active {
		.nav-trigger__badge {
			background-color: transparent;

			&::before {
				transform: rotate(45deg);
			}

			&::after {
				transform: translateY(-9Px) rotate(-45deg);
			}
		}
	}
}