h1,
h2,
h3,
h4,
h5,
h6,
p {
	display: block;
	font-weight: normal;
	line-height: normal;
	margin: 0px;
}

ul {
	list-style-type: none;
}

* {
	--moz-transition: all 0.5s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
}

html {
	font-size: 16px;
}

body {
	box-sizing: border-box;
}

a {
	display: block;
	text-decoration: none;
	color: #fff;
}

img,
span {
	display: block;
}

.wrapper {
	min-width: 100%;
	max-width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	width: 940px;
	height: 100vh;
	margin: 0 auto;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.btn__order {
	background: #e45028;
	padding: 11px 19px;
	border-radius: 5px;
	margin-bottom: 20px;
	align-self: center;
	text-transform: uppercase;
	font-size: 0.750rem;
	&:hover {
		background: #c1401e;
	}
}

.section__top {
	padding-top: 133px;
	text-align: center;
	font-size: 4rem;
	font-family: 'gagalinregular', Arial, Helvetica, sans-serif;
	color: #2f3234;
}

.activ-link__list {
	position: absolute;
	top: 80px;
	right: 46px;
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 170px;
	top: 80px;

	&_item {
		width: 6px;
		height: 6px;
		background: #fff;
		border-radius: 50%;
		margin-bottom: 16px;
	}
}

.activ-item::after {
	content: "";
	position: absolute;
	margin-top: -6px;
	margin-left: -6px;
	width: 16px;
	height: 16px;
	border: 1px solid #fff;
	border-radius: 50%;
}