.best {
	background: url("../images/bg/best-bg.jpg") center center / cover;

	.best__list {
		display: flex;
		align-items: baseline;
		margin-top: 56px;

		.best__item {
			display: flex;
			flex-direction: column;
			text-align: center;
			padding: 0 10px;

			.best__icon-img {
				width: 97px;
				height: 89px;
			}

			.best__title {
				font-size: 1.5rem;
				font-family: 'lifehackmedium', Arial, Helvetica, sans-serif;
				color: #2f3234;
				margin-top: 34px;
				margin-bottom: 26px;
			}

			.best__text {
				font-family: 'ubuntulight', Arial, Helvetica, sans-serif;
				color: #848281;
				font-size: 0.875rem;
				line-height: 1.8em;
			}
		}
	}
}