.best {
	background: url("../images/bg/best-bg.jpg") center center / cover;

	.best__list {
		display: flex;
		align-items: baseline;
		margin-top: 56px;

		@include phone {
			flex-direction: column;
			margin-top: 20px;
		}

		.best__item {
			display: flex;
			flex-direction: column;
			text-align: center;
			padding: 0 10px;

			@include phone {
				flex-direction: row;
				align-items: center;
				margin-top: 3%;
			}

			.best__svg {
				width: 97px;
				height: 89px;
			}

			.svg-beef {
				fill: #e25028;
			}

			.svg-hand {
				fill: #f8b43a;
			}

			.svg-natural {
				fill: #8ac03e;
			}

			.best__content {
				@include phone {
					text-align: left;
					margin-left: 5%;
				}
			}

			.best__title {
				font-size: 1.5rem;
				font-family: 'lifehackmedium', Arial, Helvetica, sans-serif;
				color: #2f3234;
				margin-top: 34px;
			}

			.best__text {
				font-family: 'ubuntulight', Arial, Helvetica, sans-serif;
				color: #848281;
				font-size: 0.875rem;
				line-height: 1.8em;

				@include phone {
					font-size: 16px;
					margin-top: 10px;
				}
			}
		}
	}
}