.hero {
	background: #858e92 url(../images/bg/intro-bg.jpg);
	background-size: cover;
	position: relative;
}

.container--hero {
	justify-content: space-between;
}

.header {
	display: flex;
	justify-content: space-between;
	padding-top: 13px;
	font-family: "ubuntumedium", Arial, sans-serif;
	text-transform: uppercase;
	font-size: 0.8rem;

	@include tablets {
		padding-right: 10%;
	}

	@include phone {
		padding-right: 15%;
	}
}

.logo__img {
	width: 92px;
	height: 69px;
}

.header__btns {
	display: flex;
	align-items: center;
}

.nav {
	@include tablets {
		display: none;
	}

	@include phone {
		display: none;
	}
}

.nav__list {
	display: flex;
	flex-wrap: wrap;
	margin-right: 15px;

	@media (max-width: 840px) {
		justify-content: center;
	}
}

.nav__item {
	display: flex;
	align-items: center;
	color: #fff;
	text-align-last: left;

	@media (max-width: 840px) {
		padding-top: 15px;
	}
}

.nav__item::before {
	content: "";
	display: block;
	width: 4px;
	height: 4px;
	background: #fff;
	border-radius: 50%;
	margin: 0 0.5rem;
}

.nav__link:hover {
	color: #e77252;
}

.nav__item:nth-child(1) {
	&::before {
		display: none;
	}
}

.hero__content {
	display: flex;
	align-items: center;
	margin-bottom: 100px;

	@include tablets {
		flex-direction: column;
	}
}

.hero__pic {
	width: 50%;

	@include tablets {
		width: 60%;
	}

	@include phone {
		width: 70%;
	}
}

.hero__text {
	margin-left: 13px;
	margin-top: 55px;

	@include tablets {
		margin-left: 0;
		width: 100%;
		text-align: center;
	}
}

.hero__desc {
	font-family: "lifehackmedium", Arial, sans-serif;
	font-size: 4rem;
	color: #fff;
	text-transform: inherit;
	line-height: 1em;

	@include phone {
		font-size: 3rem;
	}
}
.arrow-down {
	margin-bottom: 40px;
	align-self: center;
}