.menu {
	background: url(../images/bg/menu-bg.jpg) center center / cover no-repeat;
	position: relative;
}

.menu__title {
	position: absolute;
	top: 15%;
	left: 10%;
}

.menu-accordeon {
	position: absolute;
	height: 100%;
	right: 0;
	top: 0;
}

.menu-accordeon__list {
	height: 100%;
	display: flex;
	transition: transform .5s;
}

.menu-accordeon__item {
	display: flex;

	:hover {
		.menu-accordeon__head {
			color: #f9b43b;
		}
	}

	&.is-active {

		.menu-accordeon__head {
			color: #f9b43b;
		}

		.menu-accordeon__text {
			opacity: 1;
			transition: opacity .3s;
			transition-delay: 0.5s;
		}
	}
}

.menu-accordeon__link {
	display: flex;
	align-items: flex-end;
	background-repeat: no-repeat;
	background-size: cover;
	width: 5rem;

	@include tablets {
		width: 4rem;
	}

	@include phone {
		width: 3rem;
	}
}

.menu-accordeon__head {
	width: 100%;
	transform: rotate(-90deg);
	white-space: nowrap;
	margin-bottom: 70px;
	font-family: 'gagalinregular', Arial, sans-serif;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 2.5rem;

	@include tablets {
		font-size: 2rem;
	}
}

.menu-accordeon__body {
	width: 0;
	overflow: hidden;
	background: rgba(47, 50, 52, .93);
	transition: width .8s;
}

.menu-accordeon__text {
	color: #fff;
	font-family: 'ubuntulight', Arial, sans-serif;
	font-size: 0.875rem;
	line-height: 1.8;
	padding: 4rem 2rem;
	opacity: 0;
}