.reviews__list {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}

.reviews__item {
	width: 25%;
	height: 50%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	filter: grayscale(100%);
	position: relative;

	&:hover {
		.reviews__hover {
			opacity: 1;
		}
	}
}

.reviews__hover {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(#454545, .5);
	opacity: 0;
	transition: opacity .3s;
	color: #ffffff;
	padding: 0 19px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.reviews__head {
	font-size: 0.813rem;
	font-family: 'gagalinregular', Arial, Helvetica, sans-serif;
	margin-bottom: 20px;
	letter-spacing: 0.05em;
}

.reviews__text {
	font-size: 0.875rem;
	font-family: 'ubunturegular', Arial, Helvetica, sans-serif;
	line-height: 1.8em;
	margin-bottom: 17px;
}