.team {
	background: url(../images/bg/team-bg.jpg) no-repeat center center / cover;
	position: relative;
}

.team__block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 50%;
	background: rgba(47, 50, 52, 0.93);
	padding: 0 2% 0 7%;

	@include tablets {
		left: 0;
		text-align: center;
	}
}

.team-accordeon {
	margin-top: 27px;

	@include tablets {
		margin-top: 31px;
	}
}

.team-accordeon__item {
	margin-bottom: 5%;
}

.team-accordeon__head {
	font-family: 'gagalinregular', Arial, sans-serif;
	text-transform: uppercase;
	font-size: .875rem;
	color: #fff;
	display: inline-flex;
	white-space: nowrap;
	align-items: baseline;
	margin-left: -11px;

	@include tablets {
		font-size: 1.5rem;
	}

	&::before {
		content: "";
		display: block;
		border: 5px solid transparent;
		border-bottom: 7px solid #f9b43b;
		margin-right: 11px;
		transition: .5s;
	}

	&:hover {
		cursor: pointer;
		color: #f9b43b;
	}
}

.team-accordeon__content {
	overflow: hidden;
	height: 0;
	padding-left: 17px;
	padding-right: 17px;
}

.active-man {
	.team-accordeon__content {
		height: auto;
	}

	.team-accordeon__head {
		color: #f9b43b;

		&::before {
			transform: rotate(180deg);
		}
	}
}


.team-accordeon__content-wrapp {
	display: flex;
	align-items: center;
	margin-top: 15px;

	@include tablets {
		display: flex;
		flex-direction: column;
		margin-top: 16px;
	}
}

.team-accordeon__photo {
	min-width: 100px;
	min-height: 100px;
	border-radius: 50%;
	background-position: center center;
	background-size: cover;
}

.team-accordeon__desc {
	margin-left: 17px;
	font-size: 0.875rem;
	color: #fff;

	@include tablets {
		margin: 0;
		margin-top: 21px;
	}

	.team-accordeon__post {
		font-family: 'ubuntubold', Arial, sans-serif;
	}

	.team-accordeon__text {
		font-family: 'ubuntulight', Arial, sans-serif;
		margin-top: 15px;
		line-height: 1.5em;
		@include phone {
			font-size: 16px;
		}

	}
	@include tablets {
		padding: 0;
	}
}