@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/Lifehack/lifehack_medium-webfont.eot");
  src: url("../fonts/Lifehack/lifehack_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lifehack/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/Lifehack/lifehack_medium-webfont.woff") format("woff"), url("../fonts/Lifehack/lifehack_medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntubold';
  src: url("../fonts/Ubuntu/ubuntu/ubuntu-b-webfont.eot");
  src: url("../fonts/Ubuntu/ubuntu-b-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-b-webfont.woff") format("woff"), url("../fonts/Ubuntu/ubuntu-b-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntulight';
  src: url("../fonts/Ubuntu/ubuntu-light-webfont.eot");
  src: url("../fonts/Ubuntu/ubuntu-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-light-webfont.woff") format("woff"), url("../fonts/Ubuntu/ubuntu-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntumedium';
  src: url("../fonts/Ubuntu/ubuntu-medium-webfont.eot");
  src: url("../fonts/Ubuntu/ubuntu-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-medium-webfont.woff") format("woff"), url("../fonts/Ubuntu/ubuntu-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubunturegular';
  src: url("../fonts/Ubuntu/ubuntu-regular-webfont.eot");
  src: url("../fonts/Ubuntu/ubuntu-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-regular-webfont.woff") format("woff"), url("../fonts/Ubuntu/ubuntu-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gagalinregular';
  src: url("../fonts/Gagalin/gagalin-regular-webfont.eot");
  src: url("../fonts/Gagalin/gagalin-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Gagalin/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/Gagalin/gagalin-regular-webfont.woff") format("woff"), url("../fonts/Gagalin/gagalin-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  --moz-transition: all 0.5s ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 16px; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
  margin: 0;
  padding: 0; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

footer {
  position: relative;
  width: 100%; }

.section {
  min-height: 650px;
  height: 100vh; }

.section-title {
  text-align: center;
  font-size: 4.5rem;
  font-family: 'gagalinregular', Arial, sans-serif;
  color: #2f3234; }
  .section-title_yellow {
    color: #f9b43b;
    margin-bottom: 20px; }
  .section-title_white {
    color: #ffffff;
    text-align: left;
    padding-top: 9%;
    padding-left: 8%; }

a {
  display: block;
  text-decoration: none;
  color: #fff; }

.wrapper {
  position: relative;
  width: 100%;
  min-width: 940px;
  min-height: 100%;
  overflow: hidden; }

.container {
  width: 940px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.btn {
  padding: 11px 19px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-family: "ubuntumedium", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem; }
  .btn--order {
    background: #e45028; }
    .btn--order:hover {
      background: #c1401e; }
  .btn--reviews {
    background: #2f3234;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start; }
    .btn--reviews:hover {
      background: #282a2b; }
  .btn--clean {
    text-transform: capitalize;
    font-size: 0.875rem; }

.pagination {
  position: fixed;
  top: 80px;
  right: 60px; }
  .pagination__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .pagination__link {
    width: 6px;
    height: 6px;
    background: #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin-bottom: 15px; }

.is-activ::before {
  content: "";
  position: absolute;
  margin-top: -6px;
  margin-left: -6px;
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.hero {
  background: url(../images/bg/intro-bg.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  position: relative; }

.container--hero {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 13px;
  font-family: "ubuntumedium", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem; }

.logo__img {
  width: 92px;
  height: 69px; }

.header__btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto; }

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: 15px; }

.nav__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-align-last: left;
  margin-left: 10px; }

.nav__item::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 15px; }

.nav__link:hover {
  color: #e77252; }

.nav__item:nth-child(1)::before {
  display: none; }

.hero__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px; }

.hero__text {
  margin-left: 13px;
  margin-top: 55px; }

.hero__desc {
  font-family: "lifehackmedium", Arial, sans-serif;
  font-size: 4rem;
  color: #fff;
  text-transform: inherit;
  line-height: 1em; }

.arrow-down {
  margin-bottom: 40px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

.best {
  background: url("../images/bg/best-bg.jpg") center center/cover; }
  .best .best__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-top: 56px; }
    .best .best__list .best__item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: center;
      padding: 0 10px; }
      .best .best__list .best__item .best__icon-img {
        width: 97px;
        height: 89px; }
      .best .best__list .best__item .best__title {
        font-size: 1.5rem;
        font-family: 'lifehackmedium', Arial, Helvetica, sans-serif;
        color: #2f3234;
        margin-top: 34px;
        margin-bottom: 26px; }
      .best .best__list .best__item .best__text {
        font-family: 'ubuntulight', Arial, Helvetica, sans-serif;
        color: #848281;
        font-size: 0.875rem;
        line-height: 1.8em; }

.reviews__list {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.reviews__item {
  width: 25%;
  height: 50%;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  position: relative; }
  .reviews__item:hover .reviews__hover {
    opacity: 1; }

.reviews__hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(69, 69, 69, 0.5);
  opacity: 0;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
  color: #ffffff;
  padding: 0 19px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.reviews__head {
  font-size: 0.813rem;
  font-family: 'gagalinregular', Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  letter-spacing: 0.05em; }

.reviews__text {
  font-size: 0.875rem;
  font-family: 'ubunturegular', Arial, Helvetica, sans-serif;
  line-height: 1.8em;
  margin-bottom: 17px; }

.order {
  background: rgba(0, 0, 0, 0.9) url(../images/bg/form-bg.jpg) no-repeat center/cover; }

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-family: 'ubuntulight', Arial, sans-serif;
  font-size: 0.875rem; }
  .form__title {
    margin-bottom: 5px; }
  .form__column {
    width: 50%;
    margin-right: 20px; }
    .form__column:last-child {
      margin-right: 0; }
  .form__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px; }
  .form__block {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 19px; }
    .form__block:last-child {
      margin-right: 0; }
  .form__input {
    width: 100%;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    outline: none;
    padding-left: 21px;
    padding-right: 10px;
    height: 35px; }
  .form__textarea {
    height: 110px;
    padding: 5px; }
  .form__radios {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .form__radio {
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 20px; }
    .form__radio--icon {
      display: none; }
    .form__radio--icon--custom {
      width: 15px;
      height: 15px;
      position: relative;
      margin-right: 10px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background-color: #fff;
      display: inline-block; }
  .form__text {
    display: inline-block; }
  .form__check {
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .form__check--icon {
      display: none; }
    .form__check--icon--custom {
      width: 15px;
      height: 15px;
      position: relative;
      margin-right: 10px;
      background-color: #fff;
      display: inline-block; }

.form__radio--icon:checked + .form__radio--icon--custom::before {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  position: absolute;
  top: 4px;
  left: 4px;
  background: #e45028;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.form__check--icon:checked + .form__check--icon--custom::before {
  content: "";
  width: 11px;
  height: 9px;
  display: block;
  position: absolute;
  top: 3px;
  left: 2px;
  background: url(../images/svgicons/check.svg) center center/cover no-repeat;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.team {
  background: url(../images/bg/team-bg.jpg) no-repeat center center/cover;
  position: relative; }

.squad {
  width: 48%;
  height: 100%;
  position: absolute;
  right: 0;
  background: rgba(47, 50, 52, 0.9);
  padding: 6% 9% 6% 7%; }
  .squad__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }

.accordeon__head {
  font-family: 'gagalinregular', Arial, sans-serif;
  text-transform: uppercase;
  font-size: .875rem;
  line-height: 3.1em;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .accordeon__head::before {
    content: "";
    display: block;
    border: 5px solid transparent;
    border-bottom: 7px solid #f9b43b;
    margin-right: 1.6%; }
  .accordeon__head:hover {
    cursor: pointer;
    color: #f9b43b; }

.accordeon__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 17px;
  margin-bottom: 17px;
  height: 0;
  overflow: hidden; }

.activ-man .accordeon__head {
  color: #f9b43b; }
  .activ-man .accordeon__head::before {
    border-top: 7px solid #f9b43b;
    border-bottom: none; }

.activ-man .accordeon__body {
  height: auto; }

.accordeon__photo-img {
  min-width: 100px;
  min-height: 100px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover; }

.accordeon__desc {
  margin-left: 17px;
  font-size: 0.875rem;
  color: #fff; }
  .accordeon__desc .accordeon__post {
    font-family: 'ubuntubold', Arial, sans-serif; }
  .accordeon__desc .accordeon__text {
    font-family: 'ubuntulight', Arial, sans-serif;
    padding-right: 20%;
    line-height: 2em;
    margin-top: 15px; }

.menu {
  background: url(../images/bg/menu-bg.jpg) center center/cover no-repeat;
  position: relative; }

.menu-accordeon {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0; }

.menu-accordeon__list {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.menu-accordeon__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .menu-accordeon__item :hover .menu-accordeon__head {
    color: #f9b43b; }

.menu-accordeon__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  width: 80px; }

.menu-accordeon__head {
  width: 100%;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  white-space: nowrap;
  margin-bottom: 70px;
  font-family: 'gagalinregular', Arial, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 2.5rem; }

.menu-accordeon__body {
  width: 0;
  height: 100%;
  overflow: hidden; }

.menu-accordeon__text {
  color: #fff;
  font-family: 'ubuntulight', Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.714em; }

.menu-activ .menu-accordeon__body {
  width: 540px;
  height: 100%;
  background: rgba(47, 50, 52, 0.9);
  padding: 61px 35px 0 34px; }

.menu-activ .menu-accordeon__head {
  color: #f9b43b; }

.contacts {
  background: url(../images/bg/map-bg.jpg) center center/cover no-repeat;
  position: relative; }

.container--footer {
  height: auto; }

.footer {
  position: absolute;
  bottom: 0;
  padding: 10px 0;
  background: url(../images/bg/footer-bg.jpg) center center/cover no-repeat;
  font-family: 'ubuntulight', Arial, sans-serif;
  font-size: 0.875rem;
  color: #fff; }

.foot {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.foot__addres {
  width: 50%; }

.foot__soc {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.foot__phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #E45028;
  font-weight: bold;
  margin-top: 10px; }

.foot__icon-img {
  width: 12px;
  height: 11px;
  margin-right: 10px; }

.socials__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.socials__icon {
  fill: #5a5a5a;
  width: 20px;
  height: 16px;
  margin-left: 19px; }
