@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/Lifehack/lifehack_medium-webfont.eot");
  src: url("../fonts/Lifehack/lifehack_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lifehack/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/Lifehack/lifehack_medium-webfont.woff") format("woff"), url("../fonts/Lifehack/lifehack_medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntubold';
  src: url("../fonts/Ubuntu/ubuntu/ubuntu-b-webfont.eot");
  src: url("../fonts/Ubuntu/ubuntu-b-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-b-webfont.woff") format("woff"), url("../fonts/Ubuntu/ubuntu-b-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntulight';
  src: url("../fonts/Ubuntu/ubuntu-light-webfont.eot");
  src: url("../fonts/Ubuntu/ubuntu-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-light-webfont.woff") format("woff"), url("../fonts/Ubuntu/ubuntu-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntumedium';
  src: url("../fonts/Ubuntu/ubuntu-medium-webfont.eot");
  src: url("../fonts/Ubuntu/ubuntu-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-medium-webfont.woff") format("woff"), url("../fonts/Ubuntu/ubuntu-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubunturegular';
  src: url("../fonts/Ubuntu/ubuntu-regular-webfont.eot");
  src: url("../fonts/Ubuntu/ubuntu-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-regular-webfont.woff") format("woff"), url("../fonts/Ubuntu/ubuntu-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gagalinregular';
  src: url("../fonts/Gagalin/gagalin-regular-webfont.eot");
  src: url("../fonts/Gagalin/gagalin-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Gagalin/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/Gagalin/gagalin-regular-webfont.woff") format("woff"), url("../fonts/Gagalin/gagalin-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 1rem; }
  @media (max-width: 768px) {
    html {
      font-size: 0.8125rem; } }
  @media (max-width: 480px) {
    html {
      font-size: 0.75rem; } }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
  margin: 0;
  padding: 0; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

img {
  width: 100%; }

footer {
  position: relative;
  width: 100%; }

.section {
  min-height: 40.625rem;
  height: 100vh; }

.section-title {
  font-size: 4.5rem;
  font-family: 'gagalinregular', Arial, sans-serif;
  color: #2f3234;
  line-height: 0.9; }
  .section-title_yellow {
    color: #f9b43b;
    margin-bottom: 1.25rem; }
  .section-title_white {
    color: #ffffff; }
  .section-title_center {
    text-align: center; }
  @media (max-width: 480px) {
    .section-title {
      font-size: 4rem; } }

a {
  display: block;
  text-decoration: none;
  color: #fff; }

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden; }

.container {
  margin: 0 auto;
  position: relative;
  width: 95%;
  height: 100%;
  max-width: 58.75rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (max-width: 768px) {
    .container {
      width: 95%; } }

.btn {
  padding: 0.6875rem 1.1875rem;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-family: "ubuntumedium", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem; }
  @media (max-width: 480px) {
    .btn {
      font-size: 0.8125rem; } }
  .btn--order {
    background: #e45028;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer; }
    .btn--order:hover {
      background: #c1401e; }
  .btn--reviews {
    background: #2f3234;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start; }
    .btn--reviews:hover {
      background: #282a2b; }
    @media (max-width: 768px) {
      .btn--reviews {
        -webkit-align-self: center;
            -ms-flex-item-align: center;
                align-self: center; } }
    @media (max-width: 480px) {
      .btn--reviews {
        display: none; } }
    .btn--reviews-phones {
      display: none; }
      @media (max-width: 480px) {
        .btn--reviews-phones {
          display: block;
          margin-top: 1.25rem; } }
  .btn--clean {
    text-transform: capitalize;
    font-size: 0.875rem;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff; }

.pagination {
  position: fixed;
  top: 5rem;
  right: 3.75rem; }
  @media (max-width: 768px) {
    .pagination {
      display: none; } }
  @media (max-width: 480px) {
    .pagination {
      display: none; } }
  .pagination__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .pagination__link {
    width: 6px;
    height: 6px;
    background: #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin-bottom: 0.9375rem; }

.is-activ::before {
  content: "";
  position: absolute;
  margin-top: -6px;
  margin-left: -6px;
  width: 1rem;
  height: 1rem;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.nav-trigger {
  display: none;
  position: fixed;
  top: 1.8125rem;
  right: 1.75rem;
  z-index: 999; }
  @media (max-width: 768px) {
    .nav-trigger {
      display: block;
      top: 3.5%;
      right: 4%; } }
  @media (max-width: 480px) {
    .nav-trigger {
      top: 4%; } }
  .nav-trigger__link {
    display: block;
    width: 25Px;
    height: 25Px; }
  .nav-trigger__badge, .nav-trigger__badge::before, .nav-trigger__badge::after {
    display: block;
    height: 4px;
    width: 25Px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    background-color: #fff; }
  .nav-trigger__badge::after, .nav-trigger__badge::before {
    content: '';
    position: absolute; }
  .nav-trigger__badge::before {
    top: 9Px; }
  .nav-trigger__badge::after {
    top: 18Px; }
  .nav-trigger.is-active .nav-trigger__badge {
    background-color: transparent; }
    .nav-trigger.is-active .nav-trigger__badge::before {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .nav-trigger.is-active .nav-trigger__badge::after {
      -webkit-transform: translateY(-9Px) rotate(-45deg);
          -ms-transform: translateY(-9Px) rotate(-45deg);
              transform: translateY(-9Px) rotate(-45deg); }

.hero {
  background: url(../images/bg/intro-bg.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  position: relative; }

.container--hero {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0.8125rem;
  font-family: "ubuntumedium", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem; }
  @media (max-width: 768px) {
    .header {
      padding-right: 10%; } }
  @media (max-width: 480px) {
    .header {
      padding-right: 15%; } }

.logo__img {
  width: 5.75rem;
  height: 4.3125rem; }

.header__btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

@media (max-width: 768px) {
  .nav {
    display: none; } }

@media (max-width: 480px) {
  .nav {
    display: none; } }

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: 0.9375rem; }
  @media (max-width: 840px) {
    .nav__list {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.nav__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-align-last: left; }
  @media (max-width: 840px) {
    .nav__item {
      padding-top: 0.9375rem; } }

.nav__item::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: 0 0.5rem; }

.nav__link:hover {
  color: #e77252; }

.nav__item:nth-child(1)::before {
  display: none; }

.hero__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6.25rem; }
  @media (max-width: 768px) {
    .hero__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

.hero__pic {
  width: 50%; }
  @media (max-width: 768px) {
    .hero__pic {
      width: 60%; } }
  @media (max-width: 480px) {
    .hero__pic {
      width: 70%; } }

.hero__text {
  margin-left: 0.8125rem;
  margin-top: 3.4375rem; }
  @media (max-width: 768px) {
    .hero__text {
      margin-left: 0;
      width: 100%;
      text-align: center; } }

.hero__desc {
  font-family: "lifehackmedium", Arial, sans-serif;
  font-size: 4rem;
  color: #fff;
  text-transform: inherit;
  line-height: 1em; }
  @media (max-width: 480px) {
    .hero__desc {
      font-size: 3rem; } }

.arrow-down {
  margin-bottom: 2.5rem;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

.best {
  background: url("../images/bg/best-bg.jpg") center center/cover; }
  .best .best__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-top: 3.5rem; }
    @media (max-width: 480px) {
      .best .best__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: 1.25rem; } }
    .best .best__list .best__item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: center;
      padding: 0 0.625rem; }
      @media (max-width: 480px) {
        .best .best__list .best__item {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          margin-top: 3%; } }
      .best .best__list .best__item .best__svg {
        width: 6.0625rem;
        height: 5.5625rem; }
      .best .best__list .best__item .svg-beef {
        fill: #e25028; }
      .best .best__list .best__item .svg-hand {
        fill: #f8b43a; }
      .best .best__list .best__item .svg-natural {
        fill: #8ac03e; }
      @media (max-width: 480px) {
        .best .best__list .best__item .best__content {
          text-align: left;
          margin-left: 5%; } }
      .best .best__list .best__item .best__title {
        font-size: 1.5rem;
        font-family: 'lifehackmedium', Arial, Helvetica, sans-serif;
        color: #2f3234;
        margin-top: 2.125rem; }
      .best .best__list .best__item .best__text {
        font-family: 'ubuntulight', Arial, Helvetica, sans-serif;
        color: #848281;
        font-size: 0.875rem;
        line-height: 1.8em; }
        @media (max-width: 480px) {
          .best .best__list .best__item .best__text {
            font-size: 1rem;
            margin-top: 0.625rem; } }

.burgers {
  background: -webkit-gradient(linear, left bottom, left top, from(#f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b));
  background: -webkit-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  background: -o-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  background: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  position: relative; }

.slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  .slider__wrap {
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .slider__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    left: -100%;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%); }
    .slider__list.is-reverse {
      -webkit-transform: translateX(100%);
          -ms-transform: translateX(100%);
              transform: translateX(100%); }
    .slider__list.is-move {
      -webkit-transform: none;
          -ms-transform: none;
              transform: none;
      -webkit-transition: -webkit-transform .8s ease;
      transition: -webkit-transform .8s ease;
      -o-transition: transform .8s ease;
      transition: transform .8s ease;
      transition: transform .8s ease, -webkit-transform .8s ease; }
  .slider__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
    .slider__item.is-one {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }

.burger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.5rem;
  position: relative; }
  .burger__pic {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 7rem 0; }
    @media (max-width: 768px) {
      .burger__pic {
        -webkit-box-flex: 1;
        -webkit-flex: auto;
            -ms-flex: auto;
                flex: auto;
        padding-bottom: 0;
        text-align: center; } }
  @media (max-width: 768px) {
    .burger__img {
      max-width: 80%; } }
  .burger__desc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 1%; }
    @media (max-width: 768px) {
      .burger__desc {
        -webkit-box-flex: 1;
        -webkit-flex: auto;
            -ms-flex: auto;
                flex: auto;
        text-align: center; } }
  .burger__text {
    font-family: 'ubuntulight', Arial, sans-serif;
    font-size: 0.875rem;
    color: #fff;
    line-height: 1.714;
    margin-top: 2.875rem;
    margin-bottom: 1.875rem; }
    @media (max-width: 768px) {
      .burger__text {
        font-size: 0.9375rem; } }
  .burger__order {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 768px) {
      .burger__order {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .burger__price {
    font-family: 'gagalinregular';
    color: #e35028;
    margin-right: 1.875rem;
    padding-bottom: 0.625rem; }
    .burger__price-cost {
      font-size: 4.4375rem; }
    .burger__price-text {
      font-size: 1.875rem; }
  .burger__note {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    left: 1.875rem; }
    .burger__note--consist {
      top: 2rem;
      cursor: pointer;
      background-color: #eb8c38;
      padding: 0.8125rem 1.3125rem;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      cursor: pointer; }
      .burger__note--consist:hover {
        background-color: #e45028; }
      @media (max-width: 480px) {
        .burger__note--consist {
          top: 0.5rem; } }
    .burger__note--calory {
      bottom: 2.5rem; }
      @media (max-width: 768px) {
        .burger__note--calory {
          top: 2.5rem;
          right: 4rem;
          left: auto;
          bottom: auto; } }
      @media (max-width: 480px) {
        .burger__note--calory {
          top: 1rem; } }
  .burger__consist-svg {
    width: 2.8125rem;
    height: 2.8125rem;
    fill: #FFFFFF;
    margin-bottom: 4px; }
  .burger__calory-svg {
    width: 3.75rem;
    height: 3.75rem;
    fill: rgba(255, 255, 255, 0.5); }
  .burger__note-text {
    font-family: 'gagalinregular';
    font-size: 0.875rem;
    color: #fff; }
    .burger__note-text--num {
      font-size: 1.25rem;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    .burger__note-text--opacity {
      opacity: .5; }
  @media (max-width: 768px) {
    .burger {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

.scroll-button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 3rem 0.5rem; }
  .scroll-button--prev {
    left: -2rem;
    margin-left: 1rem; }
  .scroll-button--next {
    right: -2rem;
    margin-right: 1rem; }

.arrow-scroll {
  height: 1rem;
  width: 2rem;
  fill: #FFFFFF; }
  .arrow-scroll--left {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
  .arrow-scroll--right {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg); }

.burger__composition {
  position: absolute;
  top: 0;
  left: 100%;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #FFFFFF;
  display: none; }
  .burger__composition.onVisible {
    display: block; }

.ingredients {
  width: 16.875rem;
  padding: 1.125rem 1.375rem; }
  .ingredients__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.75rem;
    font-size: .875rem;
    font-family: 'ubunturegular', Arial, sans-serif;
    font-weight: 500; }
  .ingredients__product {
    margin-left: 1.5rem; }
  .ingredients__weight {
    margin-left: auto; }

.ingredients__icon-beef,
.ingredients__icon-sauce {
  fill: #e45028; }

.ingredients__icon-salad,
.ingredients__icon-cucumber {
  fill: #8ac03e; }

.ingredients__icon-buns,
.ingredients__icon-cheese {
  fill: #f8b43a; }

.reviews__list {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.reviews__item {
  width: 25%;
  height: 50%;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  position: relative; }
  @media (max-width: 768px) {
    .reviews__item {
      width: 50%;
      height: 25%; } }
  .reviews__item:hover .reviews__hover {
    opacity: 1; }

.reviews__hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(69, 69, 69, 0.5);
  opacity: 0;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
  color: #ffffff;
  padding: 0 1.1875rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  @media (max-width: 768px) {
    .reviews__hover {
      text-align: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.reviews__head {
  font-size: 0.813rem;
  font-family: 'gagalinregular', Arial, Helvetica, sans-serif;
  margin-bottom: 3%;
  letter-spacing: 0.05em; }
  @media (max-width: 480px) {
    .reviews__head {
      font-size: 1.5rem;
      margin-bottom: 2%; } }

.reviews__text {
  font-size: 0.875rem;
  font-family: 'ubunturegular', Arial, Helvetica, sans-serif;
  line-height: 1.8em;
  margin-bottom: 2%; }
  @media (max-width: 480px) {
    .reviews__text {
      display: none; } }

.order {
  background: rgba(0, 0, 0, 0.9) url(../images/bg/form-bg.jpg) no-repeat center/cover; }

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-family: 'ubuntulight', Arial, sans-serif;
  padding: 2%;
  font-size: 0.875rem; }
  @media (max-width: 768px) {
    .form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 0.875rem; } }
  .form__title {
    margin-bottom: 5px; }
  .form__column {
    width: 48%;
    margin-right: 4%; }
    @media (max-width: 768px) {
      .form__column {
        width: 80%;
        margin: 0; } }
    @media (max-width: 480px) {
      .form__column {
        width: 100%; } }
    .form__column:last-child {
      margin-right: 0; }
  .form__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.25rem; }
    @media (max-width: 480px) {
      .form__row {
        font-size: 1rem; } }
  .form__block {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 1.1875rem; }
    .form__block:last-child {
      margin-right: 0; }
  .form__input {
    width: 100%;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    outline: none;
    padding-left: 1.3125rem;
    padding-right: 0.625rem;
    height: 2.1875rem;
    border: none; }
    .form__input:focus {
      border: 2px solid #f9b43b; }
  .form__textarea {
    height: 6.875rem;
    padding: 5px; }
  .form__radios {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .form__radio {
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 1.25rem; }
    .form__radio--icon {
      display: none; }
    .form__radio--icon--custom {
      width: 0.9375rem;
      height: 0.9375rem;
      position: relative;
      margin-right: 0.625rem;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background-color: #fff;
      display: inline-block; }
  .form__text {
    display: inline-block; }
  .form__check {
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .form__check--icon {
      display: none; }
    .form__check--icon--custom {
      width: 0.9375rem;
      height: 0.9375rem;
      position: relative;
      margin-right: 0.625rem;
      background-color: #fff;
      display: inline-block; }

@media (max-width: 480px) {
  .form__buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; } }

@media (max-width: 480px) {
  .form__buttons .form__row {
    margin-top: 0.625rem; } }

.form__radio--icon:checked + .form__radio--icon--custom::before {
  content: "";
  display: block;
  width: 0.4375rem;
  height: 0.4375rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #e45028;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.form__check--icon:checked + .form__check--icon--custom::before {
  content: "";
  width: 0.6875rem;
  height: 0.5625rem;
  display: block;
  position: absolute;
  top: 3px;
  left: 2px;
  background: url(../images/svgicons/check.svg) center center/cover no-repeat;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.team {
  background: url(../images/bg/team-bg.jpg) no-repeat center center/cover;
  position: relative; }

.team__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  background: rgba(47, 50, 52, 0.93); }
  @media (max-width: 768px) {
    .team__wrapper {
      left: 0;
      text-align: center; } }

.team__block {
  width: 70%;
  margin-top: 25%; }

.team-accordeon {
  margin-top: 1.6875rem; }
  @media (max-width: 768px) {
    .team-accordeon {
      margin-top: 3.1875rem; } }

.team-accordeon__item {
  margin-bottom: 7%; }
  @media (max-width: 768px) {
    .team-accordeon__item {
      margin-bottom: 2.5625rem; } }
  .team-accordeon__item.is-active .team-accordeon__head {
    color: #f9b43b; }
    .team-accordeon__item.is-active .team-accordeon__head::before {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }

.team-accordeon__head {
  font-family: 'gagalinregular', Arial, sans-serif;
  text-transform: uppercase;
  font-size: .875rem;
  color: #fff;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  white-space: nowrap;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-left: -0.6875rem; }
  @media (max-width: 768px) {
    .team-accordeon__head {
      font-size: 1.5rem; } }
  .team-accordeon__head::before {
    content: "";
    display: block;
    border: 5px solid transparent;
    border-bottom: 0.4375rem solid #f9b43b;
    margin-right: 0.6875rem;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
  .team-accordeon__head:hover {
    cursor: pointer;
    color: #f9b43b; }

.team-accordeon__content {
  overflow: hidden;
  height: 0;
  padding-left: 1.0625rem;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.team-accordeon__content-wrapp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.9375rem; }
  @media (max-width: 768px) {
    .team-accordeon__content-wrapp {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-top: 1rem; } }

.team-accordeon__photo {
  min-width: 6.25rem;
  min-height: 6.25rem;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover; }

.team-accordeon__desc {
  margin-left: 1.0625rem;
  font-size: 0.875rem;
  color: #fff; }
  @media (max-width: 768px) {
    .team-accordeon__desc {
      margin: 0;
      margin-top: 1.3125rem; } }
  .team-accordeon__desc .team-accordeon__post {
    font-family: 'ubuntubold', Arial, sans-serif; }
  .team-accordeon__desc .team-accordeon__text {
    font-family: 'ubuntulight', Arial, sans-serif;
    margin-top: 0.9375rem;
    line-height: 1.5em; }
    @media (max-width: 480px) {
      .team-accordeon__desc .team-accordeon__text {
        font-size: 1rem; } }
  @media (max-width: 768px) {
    .team-accordeon__desc {
      padding: 0; } }

.menu {
  background: url(../images/bg/menu-bg.jpg) center center/cover no-repeat;
  position: relative; }

.menu__title {
  position: absolute;
  top: 15%;
  left: 10%; }

.menu-accordeon {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0; }

.menu-accordeon__list {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s; }

.menu-accordeon__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .menu-accordeon__item :hover .menu-accordeon__head {
    color: #f9b43b; }
  .menu-accordeon__item.is-active .menu-accordeon__head {
    color: #f9b43b; }
  .menu-accordeon__item.is-active .menu-accordeon__text {
    opacity: 1;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    -webkit-transition-delay: 0.7s;
         -o-transition-delay: 0.7s;
            transition-delay: 0.7s; }

.menu-accordeon__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  width: 5rem; }
  @media (max-width: 768px) {
    .menu-accordeon__link {
      width: 4rem; } }
  @media (max-width: 480px) {
    .menu-accordeon__link {
      width: 3rem; } }

.menu-accordeon__head {
  width: 100%;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  white-space: nowrap;
  margin-bottom: 4.375rem;
  font-family: 'gagalinregular', Arial, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 2.5rem; }
  @media (max-width: 768px) {
    .menu-accordeon__head {
      font-size: 2rem; } }

.menu-accordeon__body {
  width: 0;
  overflow: hidden;
  background: rgba(47, 50, 52, 0.93);
  -webkit-transition: width .8s;
  -o-transition: width .8s;
  transition: width .8s; }

.menu-accordeon__text {
  color: #fff;
  font-family: 'ubuntulight', Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.8;
  padding: 4rem 2rem;
  opacity: 0; }

.contacts {
  background: url(../images/bg/map-bg.jpg) center center/cover no-repeat;
  position: relative; }

.container--footer {
  height: auto; }

.footer {
  position: absolute;
  bottom: 0;
  padding: 0.625rem 0;
  background: url(../images/bg/footer-bg.jpg) center center/cover no-repeat;
  font-family: 'ubuntulight', Arial, sans-serif;
  font-size: 0.875rem;
  color: #fff; }

.foot {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 480px) {
    .foot {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.foot__addres {
  width: 50%; }
  @media (max-width: 480px) {
    .foot__addres {
      margin-bottom: 0.9375rem;
      width: 100%;
      text-align: center; } }

.foot__soc {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 480px) {
    .foot__soc {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.foot__phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #E45028;
  font-weight: bold;
  margin-top: 0.625rem; }
  @media (max-width: 480px) {
    .foot__phone {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.foot__icon-img {
  width: 0.75rem;
  height: 0.6875rem;
  margin-right: 0.625rem; }

.socials__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.socials__icon {
  fill: #5a5a5a;
  width: 1.25rem;
  height: 1rem;
  margin-left: 1.1875rem; }
  .socials__icon:hover {
    fill: #fff; }

.nav-mobile {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  top: -62.4375rem;
  right: 0;
  left: 0;
  z-index: 99; }
  .nav-mobile__menu {
    display: none; }
  .nav-mobile .logo {
    display: none; }
  .nav-mobile.is-active {
    top: 0;
    bottom: 0;
    background-color: rgba(47, 50, 52, 0.9);
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s; }
    .nav-mobile.is-active .nav-mobile__menu {
      display: block; }
    .nav-mobile.is-active .logo {
      display: block;
      position: fixed;
      top: 0.8125rem;
      left: 1rem;
      z-index: 999; }
  .nav-mobile__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .nav-mobile__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .nav-mobile__item::after {
      content: "";
      display: block;
      width: 5px;
      height: 5px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background: #fff;
      margin: 1rem 0; }
    .nav-mobile__item:last-child::after {
      display: none; }
  .nav-mobile__link {
    font-size: 1.125rem;
    padding: 4px;
    font-family: "ubuntumedium", Arial, sans-serif;
    text-transform: uppercase; }
    .nav-mobile__link:hover {
      color: #e77252; }

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #2f3234;
  background: rgba(47, 50, 52, 0.9);
  z-index: 10000; }
  .overlay__container {
    position: relative;
    padding: 1.5rem;
    width: 28.75rem;
    background: #fff;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    font-size: 0.875rem;
    margin: 0; }
    @media (max-width: 768px) {
      .overlay__container {
        font-size: 1.25rem;
        width: 70%; } }
    @media (max-width: 480px) {
      .overlay__container {
        width: 90%; } }
  .overlay__head {
    font-family: 'gagalinregular', Arial, sans-serif;
    margin-bottom: 25Px; }
  .overlay__content {
    line-height: 1.7;
    font-family: 'ubuntulight', Arial, sans-serif; }
  .overlay__close {
    position: absolute;
    right: 0;
    top: 0;
    width: 20Px;
    height: 20Px;
    z-index: 999; }
    .overlay__close::before, .overlay__close::after {
      content: '';
      position: absolute;
      top: 5Px;
      width: 4Px;
      height: 20Px;
      background: #ec8468;
      -webkit-border-radius: 4Px;
              border-radius: 4Px; }
    .overlay__close::before {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .overlay__close::after {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
